<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lebenslauf_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.lebenslauf_app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lebenslauf_app.BildActivity"
            android:label="@string/title_activity_bild" >
        </activity>
        <activity
            android:name="com.example.lebenslauf_app.BerufserfahrungActivity"
            android:label="@string/title_activity_berufserfahrung" >
        </activity>
        <activity
            android:name="com.example.lebenslauf_app.BildungActivity"
            android:label="@string/title_activity_bildung" >
        </activity>
        <activity
            android:name="com.example.lebenslauf_app.SkillsActivity"
            android:label="@string/title_activity_skills" >
        </activity>
        <activity
            android:name="com.example.lebenslauf_app.ZusammenfassungActivity"
            android:label="@string/title_activity_zusammenfassung" >
        </activity>
    </application>

</manifest>
